/* MAIN STYLE SHEET FOR SITE */

/* COLORS */

/*TEAL rgb(89, 246, 227) */
/* OFF WHITE rgb(233, 233, 233) */
/* SOFT GREY rgb(158, 158, 158) */


/***************************** GENERAL PAGE STYLES */

body {
  margin: 0;
  background: rgba(249, 235, 209, 0.86) url("images/slyepic01.jpeg");
  background-size: cover;
  /*box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);*/
}

p {
  font-family: 'Oxygen', sans-serif;
}

.header-content {
  background-color: rgba(136, 136, 135, 0.83);
  background: linear-gradient(to bottom, rgb(158, 158, 158) 5%, rgb(89, 246, 227));
  background-image: url(images/codewallpaper2.jpg);
  background-size: cover;
  height: 250px;
  box-shadow: 2px 5px 20px black;
}

.header-main {
  margin: 0 0 0px 0;
  padding: 0 0 10px 20px;
  color: rgb(242, 242, 242);
  font-weight: bolder;
  text-shadow: 2px 2px 4px black;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h3 {
  font-family: 'Lobster Two', cursive;
}

nav {
  background-color: rgba(182, 221, 151, 0.19);
}

.nav-links {
  list-style-type: none;
  margin-top: 95px;
  padding: 15px;
}

.nav-links-fixed {
  list-style-type: none;
  float: right;
  display: inline-block;
}

li {
  display: inline;
}

li a {
  text-decoration: none;
  padding: 15px;
  color: rgb(103, 103, 103);
  font-family: 'Lobster Two', cursive;
}

li a:hover {
  background-color: rgba(136, 136, 135, 0.83);
  color: black;
  border-radius: 20px;
}

/***************************** HOME PAGE STYLES */

.home-container {
  max-width: 100%;
  height: 250px;
  background-color: rgba(89, 246, 227, 0.5);
  padding: 20px;
  /*box-shadow: 2px 5px 20px black;*/
}



/***************************** ABOUT PAGE STYLES */

.about-container {
  max-width: 100%;
  height: 250px;
  background-color: rgba(89, 246, 227, 0.5);
  padding: 20px;
  /*box-shadow: 2px 5px 20px black;*/
}

/***************************** PROJECT PAGE STYLES */

.projects-container {
  max-width: 100%;
  height: 250px;
  background-color: rgba(89, 246, 227, 0.5);
  padding: 20px;
  /*box-shadow: 2px 5px 20px black;*/
}
